.page-container {
  /* margin-top: 54px; */
  overflow-x: hidden;
}

.title-style {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  color: black;
}

h1.title-style {
  font-size: 30px;
}

.manage-profile-form {
  padding: 30px 30px;
}

.compliant-submit-button-div{
  padding-left: 15px;
}

.button-holder {
  float: left;
}

.compliant-submit-button-size{
  width: 100%;
  position: relative;
  margin-left: -15px;
}

.button-gaps {
  height: 10px;
  width: 100%;
}

input:focus {
  border: 1px solid #0098DF;
  border-left: 5px solid #0098DF;
  box-shadow: 0 0 6px #78ABC4;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.breadcrumb-custom {
  border-bottom: 1px solid #DADADA;
  box-shadow: 0px 2px 2px #E7E7E7;
}

.primary-button-style {
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 10px #A5A5A5;
  background-color: #0085BE;
  cursor: pointer;
  margin-left: -15px;
}

.primary-button-style:hover {
  background-color: #0073B0;
}

.default-button-style {
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 10px #A5A5A5;
  background-color: #666666;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: -15px;
}

.default-button-style:hover {
  background-color: #514E4E;
}
