.custom-nav {
  box-shadow: 0px 5px 10px #A5A5A5;
  background-color: #343740 !important;
  opacity: 0.9;
}

.dropdown-menu {
  background-color: #fff;
  border-bottom: 5px solid #20A6EE;
  box-shadow: 0px 10px 20px #9C9C9C;
}


.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.428571429;
  color: #333;
  white-space: normal;
}

/* start style of notification icon */
.grey-custom-icon {color: white}
.badge-notify{
  background:#0088cc;
  color:white;
  /* #4CD964; */
  position:relative;
  top: -13px;
  left: -11px;
  /* top: -12px;
  left: -16px; */
 }
/* end of style of notification icon */
/* start fix custom height for nav and alert box */
.custom-height1 {
  height: 54px;
}
.custom-height2 {
  height: 100px;
}

/* end fix custom height for nav and alert box */
/* tart style for cursor-pointer */
.cursor-pointer-style{
  cursor: pointer;
}