<div class="page-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#/home">Home</a></li>
    <li class="breadcrumb-item active">{{title}}</li>
  </ol>

  <!-- Write Your Code -->
  <!-- start div for container -->
  <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width:100%;">

    <!--start search div -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="input-group" style="width:100%;">
          &nbsp;
        </div>
      </div>
      <div [formGroup]="searchFormGroup" class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float: right;">
        <input type="search" class="form-control search-input" formControlName="gridSearch" placeholder="Search">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <!-- end of search div -->
     <!--start div for action button-->
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 60px; padding-bottom: 0px;">
      <button type="button" class="btn btn-style2 cursor-pointer" (click)="editComplaint()" [disabled]="selectedData.length !== 1">
        <i class="fa fa-check-square-o" style="font-size: 13px; color: #FFFFFF"></i> Complaint Resolution Modify
      </button>
    </div>
    <!--end of div for action button-->
    <!-- start table div -->
    <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom: 15px; margin-top: 5px;">
      <table class="table-style">
        <thead>
          <tr class="th-style">
            <td class="header-style-first">

            </td>

            <td class="header-style hideextra" (click)="onClick(complaintDIViewDetails.header.complaintReferenceNo)">
              {{complaintDIViewDetails.header?.complaintReferenceNo}}
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.complaintReferenceNo && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc">
            </i>
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.complaintReferenceNo && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc">
            </i>
              <i *ngIf="sortSelection.orderType == ''" class="fa fa-sort">
            </i>
            </td>
            <td class="header-style hideextra" (click)="onClick(complaintDIViewDetails.header.complaintReferenceDt)">
              {{complaintDIViewDetails.header?.complaintReferenceDt}}

              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.complaintReferenceDt && sortSelection.orderType == 'ASC'"
                class="fa fa-sort-asc">
            </i>
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.complaintReferenceDt && sortSelection.orderType == 'DESC'"
                class="fa fa-sort-desc">
            </i>
              <i *ngIf="sortSelection.orderType == ''" class="fa fa-sort">
            </i>
            </td>

            <td class="header-style hideextra" (click)="onClick(complaintDIViewDetails.header.customerName)">
              {{complaintDIViewDetails.header?.customerName}}
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.customerName && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc">
            </i>
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.customerName && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc">
            </i>
              <i *ngIf="sortSelection.orderType == ''" class="fa fa-sort">
            </i>
            </td>

            <td class="header-style hideextra" (click)="onClick(complaintDIViewDetails.header.actionRecomendedAfterSiteVisit)">
              {{complaintDIViewDetails.header?.actionRecomendedAfterSiteVisit}}
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.actionRecomendedAfterSiteVisit && sortSelection.orderType == 'ASC'"
                class="fa fa-sort-asc">
            </i>
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.actionRecomendedAfterSiteVisit && sortSelection.orderType == 'DESC'"
                class="fa fa-sort-desc">
            </i>
              <i *ngIf="sortSelection.orderType == ''" class="fa fa-sort">
            </i>
            </td>

            <td class="header-style-last" (click)="onClick(complaintDIViewDetails.header.files)">
              {{complaintDIViewDetails.header?.files}}
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.files && sortSelection.orderType == 'ASC'" class="fa fa-sort-asc">
            </i>
              <i *ngIf="sortSelection.sortData == complaintDIViewDetails.header?.files && sortSelection.orderType == 'DESC'" class="fa fa-sort-desc">
            </i>
              <i *ngIf="sortSelection.orderType == ''" class="fa fa-sort">
            </i>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-style" *ngFor="let complaintViewValue of complaintDIViewDetails.details
        | isplSearch: searchFormGroup.value.gridSearch : complaintDIViewDetails.header;
              let odd = odd; let even = even;" [ngClass]="{even: even, odd: odd }">               
              <ng-container *ngIf="complaintViewValue.activityId>complaintResolutionActivityId then thenBlockOfCheckbox; else elseBlockOfCheckbox"></ng-container>
              <ng-template #thenBlockOfCheckbox>
                <td class="td-style-first"></td>
              </ng-template>
              <ng-template #elseBlockOfCheckbox>
                <td class="td-style-first">
                <input type="checkbox" [checked]="otherCheck" (click)="complaintDetailsByCheckbox(complaintViewValue)" />
                </td>
              </ng-template>
            <td class="td-style">{{complaintViewValue.complaintReferenceNo}}</td>
            <td class="td-style">{{complaintViewValue.complaintReferenceDt|date: 'dd-MMM-yyyy'}}</td>
            <td class="td-style">{{complaintViewValue.customerDetails.customerName}}</td>
            <td class="td-style">{{complaintViewValue.actionRecomendedAfterSiteVisit}}</td>
            <ng-container *ngIf="complaintViewValue.files.length==0 then thenBlock; else elseBlock"></ng-container>
            <ng-template #thenBlock>
              <td class="td-style-last"></td>
            </ng-template>
            <ng-template #elseBlock>
              <td class="td-style-last">
                <input id="{{complaintViewValue.complaintReferenceNo}}" class="toggle input-checkbox" type="checkbox">
                <label for="{{complaintViewValue.complaintReferenceNo}}">Files</label>
                <div id="{{complaintViewValue.complaintReferenceNo}}" class="expand">
                  <section>
                    <ng-container *ngFor="let file of complaintViewValue.files">
                      <a class="file-url" href="{{file.fileUrl}}" target="_blank">{{file.fileName}}</a>
                      <br/>
                    </ng-container>
                  </section>
                </div>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end of table div -->

  </div>
  <!-- end of div container -->
</div>
<!-- end of div page-container -->

<ispl-busy-spinner *ngIf="!complaintDIViewDetails.header && !complaintDIViewDetails.details">

</ispl-busy-spinner>