.page-container {
    /* margin-top: 54px; */
    overflow-x: hidden;
  }
  
  .form-style {
    padding: 30px 30px;
  }
   
  .button-holder {
    float: left;
  }
   
  input:focus {
    border: 1px solid #0098DF;
    border-left: 5px solid #0098DF;
    box-shadow: 0 0 6px #78ABC4;
  }
  
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .breadcrumb-custom {
    border-bottom: 1px solid #DADADA;
    box-shadow: 0px 2px 2px #E7E7E7;
  }
  
  .primary-button-style {
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 10px #A5A5A5;
    background-color: #0085BE;
    cursor: pointer;
    margin-left: -15px;
  }
  
  .primary-button-style:hover {
    background-color: #0073B0;
  }
  
  .default-button-style {
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 10px #A5A5A5;
    background-color: #666666;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: -15px;
  }
  
  .default-button-style:hover {
    background-color: #514E4E;
  } 
/* start hide horizontal scroll */
.hide-horizontal-scroll{
  overflow-x: hidden;
}
/* end of hide horizontal scroll */

.grid-table-style{
  padding-left: 30px;
  padding-right: 30px
}
.complaint-form {
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  margin-top: 15px;
}

  /*table grid style*/
.table-style {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  border: 1px solid #FEFEFE !important;
  background-color: #FFFFFF;
}

.th-style {
  background-color: #dbdada;
  font-family: sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 1px;
  padding-left: 10px;
  border: 1px solid #7B7B7B;
  box-shadow: 0px 1px 5px #D1D1D1;
  height: 34px;
}

.tr-style {
  font-size: 15px;
  font-family: sans-serif;
  color : #69696B;
  height: 50px;
  box-shadow: 0px 1px 5px #CBCBCB;
  border: 1px solid #BCBCBC;
}

.td-style {
  padding-left: 10px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  /*border-left: 1px solid #EFEFEF;*/
}

.td-style-first {
  padding-left: 10px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-left: 3px solid #0098DF;
}

.td-style-last {
  padding-left: 10px;
  padding-right: 6px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
}

.header-style {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
}

.header-style-first {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
  border-left: 1px solid #BCBCBC;
}

.header-style-last {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
  border-right: 1px solid #BCBCBC;
}

.even {
  background-color: #FFFFFF;
}

.even:hover {
  background-color: #0098DF;
  color: #FFFFFF;
  cursor: pointer;
}

.odd {
  /*background-color: #F4F4F4;*/
  background-color: #FFFFFF;
}
.odd:hover {
  background-color: #0098DF;
  color: #FFFFFF;
  cursor: pointer;
}

.table-hover {
  background-color: #E9E9E9;
  cursor: pointer;
}
/* end of table grid style */

/* start style for rca reject */
.reject-alert {
  width: 100%;
  margin-left: 15px;
  padding-left: 20px;
  margin-right: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  border-left-width: 5px;
  border-left-color: #aa6708;
  background: #FEFAF7;
}

.reject-alert-textarea {
  width: 98%;
  height: 141px;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* end of style for rca reject */ 
   
.hideextra { 
  white-space: nowrap; 
  overflow: hidden;
   text-overflow:ellipsis;
 }
 .scroll-bar{
  overflow: auto;
  overflow-y: hidden;
}

/* start style for tech-closer reject */
.tech-closer-alert {
  width: 100%;
  margin-left: 15px;
  padding-left: 20px;
  margin-right: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  border-left-width: 5px;
  border-left-color:#0fa5de;
  background: #f7fdfe;
}

.tech-closer-alert-textarea {
  width: 98%;
  height: 141px;
  box-sizing: border-box;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* end of style for technical closer */