<div class="page-container">
    <div>
        <ol class="breadcrumb breadcrumb-custom">
            <li class="breadcrumb-item">
                <a href="#/home">
                    <i class="fa fa-home"></i> Home </a>
            </li>
            <li class="breadcrumb-item active">{{title}}</li>
        </ol>
    </div>
    <!--start process flow div-->
    <app-flowmangement [complainNo]="routeParam.complaintReferenceNo" [complianStatus]="routeParam.complaintStatus" [pageType]="'add'"></app-flowmangement>
    <!-- end div of process flow  -->
    <!-- start div for form -->
    <div>
        <!--start form for paDIAddEditFormGroup-->
        <form [formGroup]="paDIAddEditFormGroup" autocomplete="off" (ngSubmit)="onPADIAddEditSubmit()">
            <!-- start div for row form-style class-->
            <div class="row form-style">
                <!--start div complaint reference no -->
                <div *ngIf="routeParam.complaintReferenceNo" class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label for="complaintReferenceNo">Complaint Reference No</label>
                    <input type="text" class="form-control" formControlName="complaintReferenceNo" readonly="readonly" />
                </div>
                <!--end of div for complaint reference no-->

                <!--start div closeDate-->
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label>Date</label>
                    <input type="date" class="form-control" formControlName="paAddEditDate" />
                </div>
                <!--end of div for closeDate-->

                <!-- start div for rca details -->
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label>PA Details</label>
                    <label class="red-asterick">*</label>
                    <textarea rows="5" formControlName="paAddEditDetails" class="form-control hide-horizontal-scroll" required></textarea>
                    <div class="alert alert-danger" *ngIf="paDIAddEditFormGroup.get('paAddEditDetails').hasError('required') && paDIAddEditFormGroup.get('paAddEditDetails').touched">
                        <i class="fa fa-exclamation-circle"></i>PA Details required.
                    </div>
                </div>
                <!-- end of div for rca details -->

                <!--start fle upload div-->
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <label for="imageFile">File(s) Upload</label>
                    <label class="red-coloured-label">(max size 100 mb)</label>
                    <input type="file" #fileInput (change)="fileChange($event)" />
                </div>
                <!--end of file upload div-->

                <!--files-->
                <!--start div for show files-->
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngIf="fileArr?.length!=0">
                    <label>Uploaded file(s)</label>
                    <div *ngFor="let file of fileArr">
                        <a href="{{file.fileUrl}}" target="_blank">{{file.fileName}}</a>
                        <br/>
                    </div>
                </div>
                <!--end div for show files-->

                <!-- start div for technical closer at tml end -->
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <b>Technical closer at TML end</b>
                </div>
                <div class="row" class="tech-closer-alert">
                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-left: 0px;">
                        <label><h4 style="color: #1895de">Technical Closer Date</h4></label>
                        <input type="date" class="form-control" formControlName="techCloserDate" (change)="dateValidation()">
                        <div class="alert alert-danger" *ngIf="paDIAddEditFormGroup.get('techCloserDate').touched && paDIAddEditFormGroup.get('techCloserDate').hasError('required')">
                            <i class="fa fa-exclamation-circle"></i> Technical Closer Date is required!
                        </div>
                        <div class="alert alert-danger" *ngIf="dateErrorFlag.futureDateErrFlag">
                            <i class="fa fa-exclamation-circle"></i> Technical Closer Date cannot be a future date!
                        </div>
                        <div class="alert alert-danger" *ngIf="dateErrorFlag.rcaDateErrFlag">
                            <i class="fa fa-exclamation-circle"></i> Technical Closer Date cannot be a greater than Root Cause Analysis date!
                        </div>
                    </div>
                    <h4 style="color: #1895de">Remarks</h4>
                    <div>
                        <textarea class="tech-closer-alert-textarea" formControlName="closerremarks"></textarea>
                        <div class="alert alert-danger" style="width: 98%;" *ngIf="paDIAddEditFormGroup.get('closerremarks').hasError('required') && paDIAddEditFormGroup.get('closerremarks').touched">
                            <i class="fa fa-exclamation-circle"></i>Remarks is required!
                        </div>
                    </div>
                </div>
                <!-- end of div for technical closer at tml end -->

                <!-- start div for Submit  and Cancel Button-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- start div for Submit Button-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 button-holder">
                        <button type="submit" class="btn btn-primary primary-button-style" [disabled]="!paDIAddEditFormGroup.valid">Submit
                        </button>
                    </div>
                    <!-- end div for Submit Button-->
                    <!-- start div for Cancel Button-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 button-holder">
                        <button type="submit" class="btn default-button-style" (click)="onCancel()">
                            Cancel
                        </button>
                    </div>
                    <!-- end div for Cancel Button-->
                </div>
                <!-- start div for Submit  and Cancel Button-->
            </div>
            <!-- end div for row complaint-form class-->
            <!-- error msg div -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="errorMsgObj.errMsgShowFlag">
                <div class="alert alert-danger">
                    {{errorMsgObj.errorMsg}}&nbsp;
                    <button aria-label="Close" class="close" type="button" (click)="deleteResErrorMsgOnClick()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <br/>
                <br/>
            </div>
            <!-- end of error msg div -->
        </form>
        <!--end form for paDIAddEditFormGroup-->
    </div>
    <!-- end of div form -->
</div>
<!--end of div page-container-->

<ispl-busy-spinner *ngIf="busySpinner"></ispl-busy-spinner>