<!-- <div class="tiles-content">
  <div class="tiles-header">
    <span class="tiles-header-content">{{ tiles.tilesHeader }}</span>
  </div>
  <div class="tiles-body">
    <span class="tiles-body-text">{{ tiles.tilesBodyText }}</span>
    <span class="tiles-body-date-range">{{ tiles.tilesBodyDateRange }}</span>
    <span class="tiles-body-number" [style.color]="tiles.color" *ngIf="tiles.tilesBodyNumber == '-'; else printData">
      <i class="fa fa-spinner fa-spin" style="font-size:30px"></i>
    </span>
    <ng-template #printData>
      <span class="tiles-body-number" [style.color]="tiles.color">{{ tiles.tilesBodyNumber }}</span>
    </ng-template>
  </div>
  <div class="tiles-footer">
    <button type="submit" class="btn" [style.background-color]="tiles.color" (click)="buttonClick(tiles.buttonLink)"
      style="color: white; letter-spacing: 1px; width: 90%; height: 45px; cursor: pointer;">
      {{ tiles.buttonText }}
    </button>
  </div>
</div> -->

<div class="tiles-content">
  <div style="display: inline-block;padding-left: 10px;">
    <span class="tiles-header-content ">{{ tiles.tilesHeader }}</span>
    <span class="tiles-body-text ">{{ tiles.tilesBodyText }}</span>
    <span class="tiles-body-date-range ">{{ tiles.tilesBodyDateRange }}</span>
  </div>
  <div style="display: inline-block;float:right;">
    <span class="tiles-body-number" *ngIf="tiles.tilesBodyNumber == '-'; else printData" [style.color]="tiles.color">
      <i class="fa fa-spinner fa-spin" style="font-size:30px"></i>
    </span>
    <ng-template #printData>
      <span class="tiles-body-number" [style.color]="tiles.color"
        (click)="buttonClick(tiles.buttonLink)" title="click here to view details">
        {{ tiles.tilesBodyNumber }}
      </span>
    </ng-template>
  </div>
  <!-- <button type="submit" class="btn" [style.background-color]="tiles.color" (click)="buttonClick(tiles.buttonLink)"
      style="color: white; letter-spacing: 1px; width: 90%; height: 45px; cursor: pointer;">
      {{ tiles.buttonText }}
    </button> -->
</div>