<div>

  <nav class="navbar navbar-expand-lg fixed-top navbar-inverse bg-inverse custom-nav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/tata_logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="TATA">
      TATA Metaliks Ltd.
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Complaint Management System<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown nav-last-element">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-globe"></i> Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">English</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 login-form">
    <div class="login-title inline">
      <h3> Login </h3>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="loginError">
      <strong>Login Error!</strong> {{ loginError }}
    </div>

    <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="loginSubmit()">
      <div class="form-group">
        <label for="name">User Id</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" id="username" class="form-control" formControlName="username" placeholder="User Id"
            required>
        </div>
        <div>
          <div class="alert alert-danger" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
            <i class="fa fa-exclamation-circle"></i> User Id is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password"
            required>
        </div>
        <div class="alert alert-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
          <i class="fa fa-exclamation-circle"></i> Password is required!
        </div>
      </div>

      <div class="form-group button-div-style">
        <button type="submit" class="btn btn-primary button-style" [disabled]="!loginForm.valid">
          Login
        </button>
      </div>
    </form>
    <div style="text-align:center;">Version: 3.0</div>
  </div>
  
  <div style="text-align:center;margin-top:85px;"><span style="font-size: 10px;font-weight: 400;color: #8a6d3b;">Best view in Chrome(Version 69.0.3497.100 and above)</span></div>
</div>

<ispl-busy-spinner *ngIf="busySpinner"></ispl-busy-spinner> 
