.page-container {
  /* margin-top: 54px; */
  overflow-x: hidden;
}
.allocate-complaint-title {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  color: black;
}

h1.allocate-complaint-title {
  font-size: 30px;
}

.breadcrumb-custom {
  border-bottom: 1px solid #DADADA;
  box-shadow: 0px 2px 2px #E7E7E7;
}

.search-input {
  height: 40px;
  box-shadow: 0 0 6px #D1D1D1;
}

.search-input:focus {
  border: 1px solid #0098DF;
  border-left: 5px solid #0098DF;
  box-shadow: 0 0 6px #78ABC4;
}

.table-style {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  border: 1px solid #FEFEFE !important;
  background-color: #FFFFFF;
}

.th-style {
  background-color: #dbdada;
  font-family: sans-serif;
  font-size: 13px;
  color: #000000;
  letter-spacing: 1px;
  padding-left: 10px;
  border: 1px solid #7B7B7B;
  box-shadow: 0px 1px 5px #D1D1D1;
  height: 34px;
}

.tr-style {
  font-size: 13px;
  font-family: sans-serif;
  color : #69696B;
  height: 50px;
  box-shadow: 0px 1px 5px #CBCBCB;
  border: 1px solid #BCBCBC;
}

.td-style {
  padding-left: 10px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  /*border-left: 1px solid #EFEFEF;*/
}

.td-style-first {
  padding-left: 10px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-left: 3px solid #0098DF;
}

.td-style-last {
  padding-left: 10px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
}

.header-style {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
}

.header-style-first {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
  border-left: 1px solid #BCBCBC;
}

.header-style-last {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
  border-right: 1px solid #BCBCBC;
}

.even {
  background-color: #FFFFFF;
}

.even:hover {
  background-color: #0098DF;
  color: #FFFFFF;
  cursor: pointer;
}

.odd {
  /* background-color: #F4F4F4; */
  /* background-color: #FFFFFF; */
  /* background-color:#dadef1; */
  /* background-color: #f5db6378 */
  background-color: #F7D4CC;
  /* #7989d63b; */
}
.odd:hover {
  background-color: #0098DF;
  color: #FFFFFF;
  cursor: pointer;
}

.table-hover {
  background-color: #E9E9E9;
  cursor: pointer;
}
/*start style of action button*/
.fa-plus, .fa-check-square-o, .fa-trash, .fa-street-view {
  font-size: 11px;
  color: #58ACFA;
}


.cursor-pointer{
  cursor: pointer;
}
.wrap-style{
  word-wrap: break-word;
  width: 150px;
}
.td-ref-no:hover {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: underline;
}
.td-ref-no{
color:#0275d8;
}
/*start style of action button*/
.fa-plus, .fa-check-square-o, .fa-trash {
  font-size: 11px;
  color: #58ACFA;
}
.button-font{
  font-size: 14px;
  color: #69696B;
  padding-right: 3px;
}
.btn-style1 {
  background-color: #00ad21;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFFFFF;
  box-shadow: 0px 1px 5px #C7C7C8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  /*border-style: solid;*/
  /*border-color: #AEAEAE;*/
}
.btn-style2 {
  background-color: #3078BE;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFFFFF;
  box-shadow: 0px 1px 5px #C7C7C8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  /*border-style: solid;*/
  /*border-color: #AEAEAE;*/
}
.btn-style3 {
  background-color: #B33924;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFFFFF;
  box-shadow: 0px 1px 5px #C7C7C8;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  /*border-style: solid;*/
  /*border-color: #AEAEAE;*/
}
.btn-div{
  padding-bottom: 5px;
}
.action-btn-div{
  padding-bottom : 5px;
}
/* end of style of action div, buttons */

.hideextra { 
  white-space: nowrap; 
  overflow: hidden;
   text-overflow:ellipsis;
 }

/* start style for square box */
 .fixed-size-square {
  width: 20px;
  height: 20px;
  background-color: #F7D4CC;
  /* #7989d63b; */
  position: absolute;
  margin-top: 3px;
  /* margin-right: 359px; */
  border: 1px solid black;
}

.fixed-size-square-label {
  margin-left: 22px;
}

.fixed-size-square2 {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  margin-top: 3px;
  margin-right: 84px;
  border: 1px solid black;
}

/* start style for custom-link */
.custom-link{
  color:#0275d8;
}

.custom-link:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
/* end of style for custom-link */