.page-container {
    /* margin-top: 54px; */
    overflow-x: hidden;
  }

  .form-style {
    padding: 10px 30px;
  }

  .button-holder {
    float: left;
  }

  input:focus {
    border: 1px solid #0098DF;
    border-left: 5px solid #0098DF;
    box-shadow: 0 0 6px #78ABC4;
  }
  
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .breadcrumb-custom {
    border-bottom: 1px solid #DADADA;
    box-shadow: 0px 2px 2px #E7E7E7;
  }
  
  .primary-button-style {
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 10px #A5A5A5;
    background-color: #0085BE;
    cursor: pointer;
    margin-left: -15px;
  }
  
  .primary-button-style:hover {
    background-color: #0073B0;
  }
  
  .default-button-style {
    width: 100%;
    height: 40px;
    box-shadow: 0px 0px 10px #A5A5A5;
    background-color: #666666;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: -15px;
  }
  
  .default-button-style:hover {
    background-color: #514E4E;
  }

  /* start table style */
/*table grid style*/
.table-style {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  border: 1px solid #FEFEFE !important;
  background-color: #FFFFFF;
}

.th-style {
  background-color: #dbdada;
  font-family: sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 1px;
  padding-left: 10px;
  border: 1px solid #7B7B7B;
  box-shadow: 0px 1px 5px #D1D1D1;
  height: 34px;
}

.tr-style {
  font-size: 15px;
  font-family: sans-serif;
  color : #69696B;
  height: 50px;
  box-shadow: 0px 1px 5px #CBCBCB;
  border: 1px solid #BCBCBC;
}

.td-style {
  padding-left: 10px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  /*border-left: 1px solid #EFEFEF;*/
}

.td-style-first {
  padding-left: 10px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-left: 3px solid #0098DF;
}

.td-style-last {
  padding-left: 10px;
  padding-right: 6px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
}

.header-style {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
}

.header-style-first {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
  border-left: 1px solid #BCBCBC;
}

.header-style-last {
  padding-left: 10px;
  border-bottom: 1px solid #BCBCBC;
  border-top: 1px solid #BCBCBC;
  border-right: 1px solid #BCBCBC;
}

.even {
  background-color: #FFFFFF;
}

.even:hover {
  background-color: #0098DF;
  color: #FFFFFF;
  cursor: pointer;
}

.odd {
  /*background-color: #F4F4F4;*/
  background-color: #FFFFFF;
}
.odd:hover {
  background-color: #0098DF;
  color: #FFFFFF;
  cursor: pointer;
}

.table-hover {
  background-color: #E9E9E9;
  cursor: pointer;
}
 
.scroll-bar{
  overflow: auto;
  overflow-y: hidden;
}
.wrap-style{
  word-wrap: break-word;
  width: 288px;
}
.hideextra { 
  white-space: nowrap; 
  overflow: hidden;
   text-overflow:ellipsis;
 }
  /* end of table style */

  /* start style for radio button*/
 /*Box to contain form controls*/
.control {
	font-size: 18px;
	position: relative;
	/* display: block; */
	margin-bottom: 15px;
  padding-left: 30px;
  padding-right: 20px;/* */
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
  

.control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	/*background: #0e647d;*/
  background: rgb(10, 118, 214); 
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: rgb(10, 118, 214);  
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

/* end style for radio button*/

/* end style for radio button*/

/*red asterick style*/
.red-asterick{
    color: #cc100c;
    font-weight: bolder;
}
/*end of asterick style*/
.red-coloured-label{
    color: #cc100c;
}
/*end of asterick style*/

/* start display style */
.display-style {
  display: inline-block;
}
/* end of display style */

/* start hide horizontal scroll */
.hide-horizontal-scroll{
  overflow-x: hidden;
}
/* end of hide horizontal scroll */
  
/* start textarea style of comment box */
.comment-box-textarea-style {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 120px;
}
/* end of textarea style of comment box */
/* start style to align number right */
.number-align-style{
  text-align: right;
}
/* end of style to align number right */

/* start info-heading-style */
.info-header-font-style{
  font-size: 13px;
  font-weight: 600;
  color: darkblue;
}
.info-body-font-style{
  font-size: 13px;
  /* font-weight: 600;
  color: darkblue; */
}
/* end of info-heading-style */